<%- include('../partials/header') %>

<body>
    <section id="edit-page">
        <h1>Edit <%= plant.species %></h1>
    
        <form action="/plants/<%= plant._id %>?_method=PUT" method="POST">
            <label id="light2">Light:</label>
            <input type="text" name="light" value="<%= plant.light %>">
            <label id="watering2">Watering:</label>
            <input type="text" name="watering" value="<%= plant.watering %>">
            <label id="notes2">Notes:</label>
            <input type="text" name="notes" value="<%= plant.notes %>">
            <input type="submit" value="Edit Plant">
        </form>
        <div id="exit-edit">
            <a href="/plants">Exit Edit</a>
        </div>
    </section>
    
    

<%- include('../partials/footer') %>