<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit <%= plant.species %></h1>

    <form action="/plants/<%= plant._id %>?_method=PUT" method="POST">
        <label>Light:</label>
        <input type="text" name="light" value="<%= plant.light %>">
        <label>Watering:</label>
        <input type="text" name="watering" value="<%= plant.watering %>">
        <label>Notes:</label>
        <input type="text" name="notes" value="<%= plant.notes %>">
        <input type="submit" value="Edit Plant">
    </form>

    <a href="/plants">Exit Edit</a>
    
</body>
</html>