<%- include('../partials/header') %>


<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plants</title>
</head> -->

<body>
    <ul>
        <li>
            <% if(user) { %>
            <a href="/logout">
                <i class="material-icons left">trending_flat</i>Logout</a>
            <% } else { %>
            <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
            <% } %>
        </li>
    </ul>
    <table id="list">
        <thead>
            <tr>
                <th>Species:</th>
                <th></th>
            </tr>
        </thead>
        <% if(plants) { %>

        <tbody>
            <% plants.forEach(function(m) { %>
            <tr>
                <td><%= m.species %></td>
                <td><a href="/plants/<%= m._id %>">DETAILS</a></td>
            </tr>
            <% }); %>
        </tbody>
        <% } else { %>
        <p><%= 'no plants yet' %></p>
        <% } %>
    </table>
    <% if(user) { %>

        <% if(user._id.equals(user && user._id)) { %>
            <div class="card-action">
                <form action="/plants" method="POST">
                    <a href="/plants/new">Add a New Plant</a>
                </form>
            </div>
            <% } %>
        <% } %>

<%- include('../partials/footer') %>